.page-container-one {
    background: url(../assets/Layer5.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    max-height: 1000px;
    min-height: 200px;
    border: none;
    position: relative;
}
.page-container-one-header {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}
.search-box {
    border-radius: 5px;
    overflow: hidden;
    margin: 10px auto;
    width: 700px;
    display: flex;
}
.search {
    height: 45px;
    width: 93%;
    padding: 3px;
    border: none;
    margin-right: 0;
}
button {
    background: url(../assets/searchicon.png) no-repeat;
    background-size: cover;
    background-color: white;
    height: 45px;
    width: 7%;
    padding: 3px;
    margin-left: 0;
    border: none;
}
h1 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bolder;
    color: #33363b;
    margin-bottom: 20px;
}
h3 {
    color: #33363b;
    font-weight: bold;
}
